body {
    font-family: 'Playfair Display', serif;
    color: black;
    background-color: white;
    margin: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5vw;
}

p {
    display: flex;
    justify-content: center;
    font-size: 3vw; 
}

.photoWrapper {
    display: flex;
    justify-content: center;
}

.logoFinal {
width: 17vw;
height: auto;
margin-left: 70px; 
margin-right: 60px;
}

.logoIteration1 {
width: 17vw;
height: auto;
margin-right: 60px;
}

.logoIteration2{
width: 17vw;
height: auto;
margin-right: 60px;
}

.logoIteration3 {
width: 17vw;
height: auto;
margin-right: 60px;
}

