
body {
cursor: url(volleyballAnimation.png), default;
}

.navButtons {
	border: none;
	background-color: rgb(250, 250, 250);
	color: rgb(88,88,88);
}

.homePageBody {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	background-image: url(sand.jpg);
	background-size: 100vw;
}


.title {
	display: flex;
	justify-content: center;
	margin: 2vw;
	font-family: 'Oi', cursive;
	color: rgb(88,88,88);
	font-size: 7vw;
}

.pageBody {
	width: 100vw;
	height: 100vh;
	background-color: #F3EEDA;
}

.aboutTitle {
	font-family: 'Oi', cursive;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 10.5vh;
	color: rgb(88,88,88);
	padding: 15px;
	border: 10px solid #7FF5EF;
	border-radius: 3vw;
	margin: 2vh;
	display: flex;
	align-items: flex-start;
}

.why {
	font-family: 'Maven Pro', sans-serif;
	color: rgb(88,88,88);
	font-size: 2vw;
	position: absolute;
	width: 40vw;
	right: 24vw;
	top: 35vh;
	padding: 15px;
	border: 10px solid #7FF5EF;
	border-radius: 3vw;
}

.donateTitle {
	font-family: 'Oi', cursive;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 8.5vh;
	color: rgb(88,88,88);
	padding: 15px;
	border: 10px solid #7FF5EF;
	border-radius: 3vw;
	margin: 2vh;
}

.theButton {
	width: 15vw;
	height: 15vh;
	border-radius: 3vw;
	background-color: #7FF5EF;
	font-family: 'Maven Pro', sans-serif;
	font-size: 2vw;
	padding: 1vw;
	color: rgb(88,88,88);
}

.donateButton {
	position: absolute;
	right: 70vw;
	top: 45vh;
  	border-radius: 5vw;
}

.donateButton:hover {
  box-shadow: 0 0 3vw 0 #7FF5EF inset, 0 0 3vw 1vw #7FF5EF;
}

.animation {
	position: absolute;
	right: 10vw;
	top: 30vh;
}






